version: "3.9"

services:
  db:
    image: postgres:15
    container_name: henna-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: saadia_henna
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    build: .
    container_name: henna-web
    restart: unless-stopped
    env_file:
      - .env.local
    ports:
      - "3000:3000"
      - "5555:5555"
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  pgdata:
